<h1>Welcome to FlyIE</h1>

Number of Visits in this session: {{numbervisits}}

<h3>
Shopping Cart 
</h3>
<table>
{{#each items}}
<tr>
    <td>{{itemName}}</td>
    <td>{{quantity}}</td>
</tr>
    {{/each}}
</table>

{{cart.milk}}
{{#if message}} 
<h2>
    {{message}}    
</h2>
{{/if}}